@charset "UTF-8";
.margin {
  width: 1200px;
  margin: 0 auto; }

.margin-register {
  width: 1042px;
  margin: 0 auto; }

.margin-enroll {
  width: 988px;
  margin: 0 auto; }

input:focus {
  outline: none; }

#top {
  border-bottom: 1px solid #eaeaea;
  font: 12px/30px "";
  height: 30px; }
  #top .top-l {
    float: left;
    position: relative; }
    #top .top-l .hide {
      position: absolute;
      left: 139px;
      top: 30px;
      background: #fff;
      color: #3a3a3a;
      width: 88px;
      border: 1px solid #eaeaea;
      display: none;
      border-top: none;
      z-index: 10; }
      #top .top-l .hide p {
        padding-left: 5px; }
        #top .top-l .hide p a {
          color: #3a3a3a; }
        #top .top-l .hide p a:hover {
          color: #ca141d; }
    #top .top-l a {
      color: #a4a4a4;
      padding: 0px 8px 0px 8px; }
    #top .top-l .te1 {
      width: 88px; }
      #top .top-l .te1 .a1 {
        padding-right: 30px;
        border-left: 1px solid #c8c8c8;
        border-right: 1px solid #c8c8c8;
        background: url(../img/t1.jpg) no-repeat 70px 5px; }
    #top .top-l .te1:hover {
      background: #fff; }
      #top .top-l .te1:hover .a1 {
        background: #fff url(../img/t5.jpg) no-repeat 70px 5px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        color: #3a3a3a; }
      #top .top-l .te1:hover .a1:hover {
        color: #ca141d; }
      #top .top-l .te1:hover .hide {
        display: block; }
    #top .top-l a:hover {
      color: #ca141d; }
    #top .top-l span {
      color: #c8c8c8; }
  #top ul li {
    float: left; }
  #top .top-r {
    float: right;
    position: relative; }
    #top .top-r dt {
      float: left;
      position: relative;
      padding-left: 10px; }
      #top .top-r dt .a2 {
        border-right: 1px solid #eaeaea;
        padding: 0 30px 0 0px;
        background: url(../img/t1.jpg) no-repeat 50px 5px; }
      #top .top-r dt ul {
        position: absolute;
        left: -143px;
        top: 30px;
        border: 1px solid #eaeaea;
        z-index: 100;
        background: #fff;
        display: none;
        border-top: none; }
        #top .top-r dt ul li {
          width: 195px;
          border-bottom: 1px solid #eaeaea;
          padding: 16px 0 14px 15px; }
          #top .top-r dt ul li img {
            float: left; }
          #top .top-r dt ul li b {
            float: left;
            font: 12px/22px "";
            margin-left: 10px;
            color: #3a3a3a; }
            #top .top-r dt ul li b a {
              color: #3a3a3a; }
    #top .top-r dt:hover {
      background: #fff;
      border-left: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea; }
      #top .top-r dt:hover ul {
        display: block; }
      #top .top-r dt:hover .a2 {
        background: url(../img/t5.jpg) no-repeat 50px 5px;
        border-left: none;
        color: #3a3a3a; }
      #top .top-r dt:hover .a2:hover {
        color: #ca141d; }
    #top .top-r dd {
      float: left; }
      #top .top-r dd .hide {
        position: absolute;
        left: 76px;
        top: 30px;
        background: #fff;
        color: #3a3a3a;
        width: 87px;
        border: 1px solid #eaeaea;
        display: none;
        border-top: none;
        z-index: 10; }
        #top .top-r dd .hide p {
          padding-left: 5px; }
          #top .top-r dd .hide p a {
            color: #3a3a3a; }
          #top .top-r dd .hide p a:hover {
            color: #ca141d; }
      #top .top-r dd .a1 {
        padding: 0 30px 0 5px;
        background: url(../img/t1.jpg) no-repeat 70px 5px; }
    #top .top-r a {
      color: #a4a4a4; }
      #top .top-r a img {
        margin-left: 2px; }
    #top .top-r dd:hover {
      background: #fff;
      border-left: 1px solid #eaeaea;
      border-right: 1px solid #eaeaea; }
      #top .top-r dd:hover .a1 {
        background: #fff url(../img/t5.jpg) no-repeat 70px 5px;
        border-left: 1px solid #fff;
        color: #3a3a3a; }
      #top .top-r dd:hover .a1:hover {
        color: #ca141d; }
      #top .top-r dd:hover .hide {
        display: block; }
    #top .top-r a:hover {
      color: #ca141d; }
    #top .top-r span {
      color: #c8c8c8; }

header {
  height: 70px;
  border: 1px solid #eaeaea; }
  header .header-l {
    float: left;
    padding: 20px; }
  header .header-r {
    float: right;
    width: 652px;
    margin-top: 20px; }
    header .header-r .header-r-l {
      float: left;
      width: 470px;
      margin-right: 20px;
      position: relative; }
      header .header-r .header-r-l .txt {
        float: left;
        height: 30px;
        width: 430px;
        border: 1px solid #eaeaea;
        padding-left: 5px; }
      header .header-r .header-r-l p {
        width: 240px;
        position: absolute;
        left: 190px;
        top: 10px; }
        header .header-r .header-r-l p a {
          padding: 5px;
          color: #a3a3a3;
          background: #f5f5f5; }
        header .header-r .header-r-l p a:hover {
          color: #CA141D; }
      header .header-r .header-r-l .btn {
        float: left;
        background: #fff url(../img/t2.jpg) no-repeat 6px 7px;
        border: 1px solid #eaeaea;
        width: 32px;
        height: 32px;
        display: block; }
      header .header-r .header-r-l .btn:hover {
        background: url(../img/t4.jpg) no-repeat; }
    header .header-r .header-r-c {
      float: left;
      margin-right: 20px;
      position: relative; }
      header .header-r .header-r-c .shopCar {
        border: 1px solid #eaeaea;
        display: block;
        width: 32px;
        height: 30px;
        background: #fff;
        text-align: center;
        position: relative; }
        header .header-r .header-r-c .shopCar .hide-shopCar {
          position: absolute;
          width: 372px;
          height: 200px;
          border: 1px solid #eaeaea;
          border-top: none;
          z-index: 50000;
          background: #fff;
          left: -341px;
          top: 30px;
          text-align: center;
          padding-top: 45px;
          display: none; }
          header .header-r .header-r-c .shopCar .hide-shopCar .carP {
            color: #333333;
            font: 12px/82px ""; }
        header .header-r .header-r-c .shopCar img {
          margin-top: 8px; }
        header .header-r .header-r-c .shopCar p {
          width: 22px;
          height: 22px;
          font: 10px/22px "";
          background: #CA141D;
          border-radius: 50%;
          color: #fff;
          position: absolute;
          left: 23px;
          top: -10px; }
      header .header-r .header-r-c .shopCar:hover .hide-shopCar {
        display: block; }
    header .header-r .header-r-r {
      float: left;
      background: #fff;
      font: 12px/30px "";
      padding: 0px 4px;
      border: 1px solid #eaeaea; }
      header .header-r .header-r-r a {
        color: #333; }
      header .header-r .header-r-r a:hover {
        color: #CA141D; }
      header .header-r .header-r-r .register-l {
        margin: 0 0 0 12px; }
      header .header-r .header-r-r .register-r {
        margin: 0 12px 0 0; }

nav span {
  font: 18px/42px "";
  color: #000;
  padding: 12px 153px 12px 16px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea; }

nav b a {
  margin-left: 50px;
  color: #3a3a3a;
  padding-bottom: 2px; }

nav b a:hover {
  border-bottom: 3px solid #CA141D; }

#banner {
  position: relative; }
  #banner #slideshow {
    position: relative;
    width: 1343px;
    height: 450px; }
    #banner #slideshow ul {
      left: 565px;
      bottom: 26px; }
  #banner .ulId {
    position: absolute;
    left: 73px;
    top: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.5);
    width: 240px; }
    #banner .ulId li {
      padding: 10px 10px 15px 15px; }
      #banner .ulId li .hideC {
        position: absolute;
        left: 240px;
        top: 0;
        width: 648px;
        height: 450px;
        background: #fff;
        display: none;
        z-index: -3; }
        #banner .ulId li .hideC h3 {
          border-bottom: 1px solid #eaeaea;
          padding: 23px 30px 50px; }
          #banner .ulId li .hideC h3 a {
            display: block;
            font: 12px/24px "";
            color: #ca151d; }
            #banner .ulId li .hideC h3 a span {
              float: left; }
            #banner .ulId li .hideC h3 a b {
              float: right; }
        #banner .ulId li .hideC .pClass {
          padding: 15px 30px;
          border-bottom: 1px solid #eaeaea;
          height: 117px; }
          #banner .ulId li .hideC .pClass a {
            color: #3a3a3a;
            margin: 0 30px 0 0;
            font: 12px/50px ""; }
          #banner .ulId li .hideC .pClass a:hover {
            color: #ca151d; }
        #banner .ulId li .hideC ol {
          position: relative; }
          #banner .ulId li .hideC ol li {
            float: left;
            width: 160px;
            padding: 0;
            border: 1px solid #eaeaea;
            text-align: center;
            position: absolute; }
            #banner .ulId li .hideC ol li img {
              margin-top: 13px; }
            #banner .ulId li .hideC ol li h4 {
              color: #3a3a3a;
              font: 12px/24px "";
              margin-top: 24px; }
            #banner .ulId li .hideC ol li span {
              color: red;
              font: 12px/24px "";
              margin-bottom: 24px; }
          #banner .ulId li .hideC ol li:nth-child(2) {
            left: 161px; }
          #banner .ulId li .hideC ol li:nth-child(3) {
            left: 322px; }
          #banner .ulId li .hideC ol li:nth-child(4) {
            left: 484px; }
          #banner .ulId li .hideC ol li:hover {
            top: -2px;
            background-color: #fff;
            border-top: none;
            box-shadow: 0px 2px 2px #000; }
        #banner .ulId li .hideC .teH {
          margin-top: 0px; }
    #banner .ulId li:hover {
      background: rgba(0, 0, 0, 0.8); }
      #banner .ulId li:hover .hideC {
        display: block; }
      #banner .ulId li:hover p a {
        color: #ccc; }
      #banner .ulId li:hover p a:hover {
        color: #fff; }
    #banner .ulId li:last-child {
      margin-bottom: 0; }
    #banner .ulId h3 a {
      font: 14px/24px "";
      color: #fff; }
    #banner .ulId p {
      position: relative; }
      #banner .ulId p a {
        font: 12px/26px "";
        color: #999; }
      #banner .ulId p .teA {
        position: absolute;
        right: 0; }

#serve .margin {
  background: #fff;
  height: 97px; }

#serve .serve-l {
  float: left;
  width: 268px;
  padding-top: 18px;
  padding-left: 20px; }
  #serve .serve-l img {
    width: 63px;
    float: left; }
  #serve .serve-l .serve-l-r {
    padding-top: 2px;
    margin-left: 20px;
    float: left;
    border-right: 1px solid #eaeaea;
    padding-right: 23px; }
    #serve .serve-l .serve-l-r p {
      font: 12px/16px "";
      color: #a4a4a4; }
      #serve .serve-l .serve-l-r p span {
        margin-left: 20px; }
      #serve .serve-l .serve-l-r p a {
        color: #3a3a3a;
        text-decoration: underline; }
      #serve .serve-l .serve-l-r p a.teA1 {
        padding: 4px;
        border: 1px solid #ca141d;
        text-decoration: none;
        color: #ca141d;
        margin: 8px 13px 0 0;
        font: 12px/38px ""; }
      #serve .serve-l .serve-l-r p a.teA1:hover {
        background: #ca141d;
        color: #fff; }

#serve .serve-c {
  float: left;
  width: 582px;
  padding-left: 20px; }
  #serve .serve-c li {
    float: left;
    text-align: center;
    margin-right: 50px;
    padding-top: 26px; }
    #serve .serve-c li a {
      display: block;
      color: #3a3a3a; }
    #serve .serve-c li a:hover {
      color: #ca141d; }
  #serve .serve-c li.liWu {
    margin-right: 0; }

#serve .serve-r {
  float: left;
  border-left: 1px solid #eaeaea;
  font: 12px/48px ""; }
  #serve .serve-r p {
    border-top: 1px solid #eaeaea;
    padding-right: 20px; }
    #serve .serve-r p a.a0 {
      margin-right: 35px; }
    #serve .serve-r p a.a01 {
      margin-left: 15px; }
  #serve .serve-r h3 {
    padding-left: 15px;
    position: relative;
    overflow: hidden; }
    #serve .serve-r h3 img {
      float: left;
      padding: 20px 0px; }
    #serve .serve-r h3 ul {
      position: absolute;
      top: 0px;
      left: 45px;
      float: left;
      margin-left: 20px;
      height: 48px; }
      #serve .serve-r h3 ul li a {
        font-size: 12px;
        color: #333; }
      #serve .serve-r h3 ul li a:hover {
        color: #ca141d; }

#main .hot {
  padding-top: 18px; }
  #main .hot h3 {
    font: 22px/50px "";
    color: #3a3a3a; }
  #main .hot div .a11 {
    float: left; }
  #main .hot div ul {
    float: right;
    width: 960px;
    position: relative; }
    #main .hot div ul li {
      float: left;
      position: relative;
      text-align: center;
      margin-left: 8px;
      background: #fff;
      width: 232px;
      margin-bottom: 10px;
      padding-bottom: 12px;
      position: absolute; }
      #main .hot div ul li img {
        width: 130px;
        margin-top: 35px;
        margin-bottom: 35px; }
      #main .hot div ul li img.baokuan {
        width: 60px;
        position: absolute;
        left: 140px;
        top: 100px; }
      #main .hot div ul li h4 {
        font: 12px/24px "";
        color: #3a3a3a; }
      #main .hot div ul li p {
        font: 12px/18px "";
        color: #a4a4a4; }
      #main .hot div ul li b {
        font: 12px/36px "";
        color: #CA141D; }
    #main .hot div ul li:nth-child(1) {
      left: 0;
      top: 0; }
    #main .hot div ul li:nth-child(2) {
      left: 242px;
      top: 0; }
    #main .hot div ul li:nth-child(3) {
      left: 484px;
      top: 0; }
    #main .hot div ul li:nth-child(4) {
      left: 726px;
      top: 0; }
    #main .hot div ul li:nth-child(5) {
      left: 0;
      top: 300px; }
    #main .hot div ul li:nth-child(6) {
      left: 242px;
      top: 300px; }
    #main .hot div ul li:nth-child(7) {
      left: 484px;
      top: 300px; }
    #main .hot div ul li:nth-child(8) {
      left: 726px;
      top: 300px; }
    #main .hot div ul li:nth-child(1):hover {
      top: -2px; }
    #main .hot div ul li:nth-child(2):hover {
      top: -2px; }
    #main .hot div ul li:nth-child(3):hover {
      top: -2px; }
    #main .hot div ul li:nth-child(4):hover {
      top: -2px; }
    #main .hot div ul li:nth-child(5):hover {
      top: 298px; }
    #main .hot div ul li:nth-child(6):hover {
      top: 298px; }
    #main .hot div ul li:nth-child(7):hover {
      top: 298px; }
    #main .hot div ul li:nth-child(8):hover {
      top: 298px; }

#main .recommendation {
  padding-top: 18px; }
  #main .recommendation h3 {
    font: 22px/50px "";
    color: #3a3a3a; }
  #main .recommendation .recommendation-c {
    position: relative;
    height: 290px;
    overflow: hidden;
    background: #fff; }
    #main .recommendation .recommendation-c .lta, #main .recommendation .recommendation-c .gta {
      position: absolute;
      padding: 28px 6px;
      color: #fff;
      background: #cfcfcf;
      z-index: 100;
      border: none; }
    #main .recommendation .recommendation-c .lta {
      left: 0;
      top: 115px; }
    #main .recommendation .recommendation-c .gta {
      right: 0;
      top: 115px; }
    #main .recommendation .recommendation-c ul {
      width: 2616px;
      height: 290px;
      position: relative; }
      #main .recommendation .recommendation-c ul li {
        float: left;
        height: 290px;
        width: 217px;
        position: relative;
        text-align: center;
        border-right: 1px solid #eaeaea;
        position: absolute;
        top: 0px; }
        #main .recommendation .recommendation-c ul li img {
          width: 130px;
          margin-top: 35px;
          margin-bottom: 35px; }
        #main .recommendation .recommendation-c ul li img.baokuan {
          width: 60px;
          position: absolute;
          left: 140px;
          top: 100px; }
        #main .recommendation .recommendation-c ul li h4 {
          font: 12px/24px "";
          color: #3a3a3a; }
        #main .recommendation .recommendation-c ul li p {
          font: 12px/18px "";
          color: #a4a4a4; }
        #main .recommendation .recommendation-c ul li b {
          font: 12px/36px "";
          color: #CA141D; }
      #main .recommendation .recommendation-c ul li:nth-child(1) {
        left: 0px; }
      #main .recommendation .recommendation-c ul li:nth-child(2) {
        left: 218px; }
      #main .recommendation .recommendation-c ul li:nth-child(3) {
        left: 436px; }
      #main .recommendation .recommendation-c ul li:nth-child(4) {
        left: 654px; }
      #main .recommendation .recommendation-c ul li:nth-child(5) {
        left: 872px; }
      #main .recommendation .recommendation-c ul li:nth-child(6) {
        left: 1090px; }
      #main .recommendation .recommendation-c ul li:nth-child(7) {
        left: 1308px; }
      #main .recommendation .recommendation-c ul li:nth-child(8) {
        left: 1526px; }
      #main .recommendation .recommendation-c ul li:nth-child(9) {
        left: 1744px; }
      #main .recommendation .recommendation-c ul li:nth-child(10) {
        left: 1962px; }
      #main .recommendation .recommendation-c ul li:nth-child(11) {
        left: 2180px; }
      #main .recommendation .recommendation-c ul li:nth-child(12) {
        left: 2398px; }
      #main .recommendation .recommendation-c ul li:nth-child(1):hover {
        left: 0px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(2):hover {
        left: 218px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(3):hover {
        left: 436px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(4):hover {
        left: 654px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(5):hover {
        left: 872px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(6):hover {
        left: 1090px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(7):hover {
        left: 1308px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(8):hover {
        left: 1526px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(9):hover {
        left: 1744px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(10):hover {
        left: 1962px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(11):hover {
        left: 2180px;
        top: -3px; }
      #main .recommendation .recommendation-c ul li:nth-child(12):hover {
        left: 2398px;
        top: -3px; }

#main #slideshow01 {
  position: relative;
  width: 1200px;
  height: 120px;
  margin-top: 25px;
  margin-bottom: 10px; }
  #main #slideshow01 ul {
    left: 850px;
    bottom: 10px; }

#main .cellphone div span {
  font: 700 24px/62px "黑体";
  color: #000;
  margin-right: 38px; }

#main .cellphone div a {
  margin-left: 23px;
  color: #3a3a3a;
  padding-bottom: 2px;
  color: #a4a4ab;
  font-size: 14px; }

#main .cellphone div a:hover {
  border-bottom: 3px solid #CA141D;
  color: #CA141D; }

#main .cellphone div a:last-child {
  margin-left: 165px;
  color: #666; }

#main .cellphone div a:last-child:hover {
  margin-left: 165px;
  color: #666;
  border: none;
  color: #CA141D; }

#main .cellphone ul {
  position: relative;
  height: 706px; }
  #main .cellphone ul li {
    position: relative;
    text-align: center;
    margin-left: 8px;
    background: #fff;
    width: 290px;
    margin-bottom: 10px;
    padding-bottom: 47px;
    position: absolute; }
    #main .cellphone ul li img {
      width: 150px;
      margin-top: 35px;
      margin-bottom: 35px; }
    #main .cellphone ul li img.baokuan {
      width: 60px;
      position: absolute;
      left: 140px;
      top: 100px; }
    #main .cellphone ul li h4 {
      font: 12px/24px "";
      color: #3a3a3a; }
    #main .cellphone ul li p {
      font: 12px/18px "";
      color: #a4a4a4; }
    #main .cellphone ul li b {
      font: 12px/36px "";
      color: #CA141D; }
  #main .cellphone ul li:nth-child(1) {
    left: 0;
    top: 0;
    padding: 0; }
    #main .cellphone ul li:nth-child(1) img {
      width: 290px;
      margin: 0; }
  #main .cellphone ul li:nth-child(2) {
    left: 300px;
    top: 0; }
  #main .cellphone ul li:nth-child(3) {
    left: 600px;
    top: 0; }
  #main .cellphone ul li:nth-child(4) {
    left: 900px;
    top: 0; }
  #main .cellphone ul li:nth-child(5) {
    left: 0;
    top: 358px; }
  #main .cellphone ul li:nth-child(6) {
    left: 300px;
    top: 358px; }
  #main .cellphone ul li:nth-child(7) {
    left: 600px;
    top: 358px; }
  #main .cellphone ul li:nth-child(8) {
    left: 900px;
    top: 358px; }
  #main .cellphone ul li:nth-child(1):hover {
    top: -3px; }
  #main .cellphone ul li:nth-child(2):hover {
    top: -3px; }
  #main .cellphone ul li:nth-child(3):hover {
    top: -3px; }
  #main .cellphone ul li:nth-child(4):hover {
    top: -3px; }
  #main .cellphone ul li:nth-child(5):hover {
    top: 355px; }
  #main .cellphone ul li:nth-child(6):hover {
    top: 355px; }
  #main .cellphone ul li:nth-child(7):hover {
    top: 355px; }
  #main .cellphone ul li:nth-child(8):hover {
    top: 355px; }

#main #slideshow02 {
  position: relative;
  width: 1200px;
  height: 120px;
  margin-top: 25px;
  margin-bottom: 10px; }
  #main #slideshow02 ul {
    left: 850px;
    bottom: 10px; }

#fixedId {
  position: fixed;
  right: 27px;
  bottom: 70px;
  z-index: 1100000000; }
  #fixedId h3 {
    position: relative; }
    #fixedId h3 a {
      display: block;
      width: 55px;
      height: 60px;
      position: absolute;
      right: 0px;
      top: 0px; }
      #fixedId h3 a span {
        padding: 3px;
        background: #6d6d6d;
        border-radius: 6px;
        font-size: 6px;
        color: #fff; }
  #fixedId h3:nth-child(1) a {
    background: url(../img/t16.jpg) no-repeat 7px 0;
    padding-top: 41px;
    display: none; }
  #fixedId h3:nth-child(1) a:hover {
    background: url(../img/t17.jpg) no-repeat 7px 0; }
    #fixedId h3:nth-child(1) a:hover span {
      background: #333; }
  #fixedId h3:nth-child(2) a {
    background: url(../img/t13.jpg) no-repeat 7px 0;
    padding-top: 41px;
    display: none; }
  #fixedId h3:nth-child(2) a:hover {
    background: url(../img/t14.jpg) no-repeat 7px 0; }
    #fixedId h3:nth-child(2) a:hover span {
      background: #333; }
  #fixedId h3:nth-child(3) a {
    background: url(../img/t15.jpg) no-repeat 7px 0;
    padding-top: 41px; }
  #fixedId h3:nth-child(3) a:hover {
    background: url(../img/t12.jpg) no-repeat 7px 0; }
    #fixedId h3:nth-child(3) a:hover span {
      background: #333; }

#fixedId:hover h3:nth-child(1) a {
  display: block;
  right: 110px; }

#fixedId:hover h3:nth-child(2) a {
  display: block;
  right: 55px; }

#customerService {
  background: #f0f0f0; }
  #customerService ul {
    border-bottom: 1px solid #eaeaea; }
    #customerService ul li {
      float: left;
      font: 18px/140px "";
      margin-right: 90px; }
      #customerService ul li img {
        margin-right: 22px; }
      #customerService ul li a {
        color: #333; }
    #customerService ul li:last-child {
      margin-right: 0; }
  #customerService ol {
    height: 210px; }
    #customerService ol li {
      float: left;
      width: 157px;
      margin-top: 30px; }
      #customerService ol li h3 {
        width: 22px;
        border-top: 2px solid #a8a8a8; }
      #customerService ol li dl dt {
        font: 12px/44px ""; }
        #customerService ol li dl dt a {
          position: relative;
          z-index: 100;
          padding: 5px;
          border-radius: 10px;
          background: #ccc;
          margin-left: 5px; }
      #customerService ol li dl dd {
        font: 12px/24px ""; }
        #customerService ol li dl dd a:hover {
          color: #CA141D; }
      #customerService ol li h4 {
        font: 700 18px/24px "";
        margin-top: 13px; }
      #customerService ol li h5 {
        font: 12px/24px "";
        color: #666; }
      #customerService ol li p {
        margin-top: 30px; }
        #customerService ol li p a {
          padding: 13px 37px 10px 69px;
          color: #CA141D;
          border: 1px solid #eaeaea;
          border-radius: 5px;
          background: #fff url(../img/t11.jpg) no-repeat 36px 11px; }
      #customerService ol li .dlte {
        position: relative;
        width: 100px;
        overflow: hidden;
        height: 170px; }
        #customerService ol li .dlte .dd01, #customerService ol li .dlte .dd02 {
          position: absolute;
          top: 10px;
          transition: .5s; }
        #customerService ol li .dlte .dd01 {
          left: 0px; }
          #customerService ol li .dlte .dd01 .ul01 {
            margin-top: 30px;
            border: none; }
            #customerService ol li .dlte .dd01 .ul01 li {
              font: 12px/24px "";
              margin: 0px;
              padding: 0;
              border: none; }
        #customerService ol li .dlte .dd02 {
          left: 100px; }
          #customerService ol li .dlte .dd02 .ul02 {
            margin-top: 30px;
            border: none; }
            #customerService ol li .dlte .dd02 .ul02 li {
              font: 12px/24px "";
              margin: 0px;
              padding: 0;
              border: none; }
    #customerService ol li:last-child {
      width: 214px;
      padding-left: 40px;
      padding-bottom: 60px;
      border-left: 1px solid #ebebeb; }

footer {
  height: 120px;
  background: #e6e6e6; }
  footer h6 {
    float: left;
    margin-top: 46px; }
  footer .footer-c {
    float: left;
    width: 650px;
    margin: 28px 54px 0 38px;
    font: 12px/20px "";
    color: #A4A4A4; }
    footer .footer-c p a {
      color: #A4A4A4; }
    footer .footer-c p a:hover {
      color: #CA141D; }
  footer .footer-r {
    float: left;
    margin-top: 42px; }

#register-logo {
  padding-left: 27px;
  height: 78px; }

#main-register {
  padding-left: 666px;
  height: 655px;
  background: url(../img/img-register/t18.jpg) no-repeat 27px 72px;
  padding-top: 72px;
  border-bottom: 1px solid #d7d7d7; }
  #main-register h3 {
    font: 30px "黑体";
    color: #ea5e00; }
  #main-register div input {
    margin-top: 16px;
    padding-left: 3px; }
  #main-register div .inpClass {
    width: 280px;
    height: 36px; }
  #main-register div .txtClass {
    height: 36px;
    width: 144px; }
  #main-register div h5 {
    border-bottom: 1px solid #d7d7d7;
    width: 285px; }
  #main-register div .bntClass {
    padding: 14px 130px;
    color: #fff;
    background: #CA141D;
    border: none; }
  #main-register div .chkClass {
    float: left;
    margin-top: 30px; }
  #main-register div .spanId02 {
    margin-right: 126px;
    font: 12px/70px "";
    color: #333333; }
  #main-register div a {
    font: 12px/70px "";
    color: #333333; }
  #main-register .pId01 {
    width: 294px;
    font: 12px/16px "";
    color: #999; }
  #main-register .pId02 {
    font: 12px/70px "";
    color: #999; }
  #main-register h6 {
    font: 12px/56px ""; }
    #main-register h6 a {
      margin-left: 20px;
      color: #ff9937; }

#footer-register {
  text-align: center;
  padding-top: 30px;
  height: 124px; }
  #footer-register p {
    font: 12px/24px "";
    color: #999; }
  #footer-register p:first-child a {
    color: #999;
    margin-right: 30px; }
  #footer-register p:first-child a:hover {
    text-decoration: underline; }

#enroll-logo {
  background: #333;
  height: 68px; }
  #enroll-logo .enroll-logo-img {
    margin-top: 10px; }

#header-enroll {
  margin-top: 30px;
  margin-bottom: 1px; }
  #header-enroll p:nth-child(1) {
    float: left; }
    #header-enroll p:nth-child(1) a:nth-child(1) {
      color: #fff;
      padding: 10px 50px 10px 12px;
      background: #CA141D; }
      #header-enroll p:nth-child(1) a:nth-child(1) img {
        margin-right: 12px; }
    #header-enroll p:nth-child(1) a:nth-child(2) {
      color: #fff;
      padding: 10px 50px 10px 12px;
      background: #333; }
      #header-enroll p:nth-child(1) a:nth-child(2) img {
        margin-right: 12px; }
    #header-enroll p:nth-child(1) a:hover {
      text-decoration: underline; }
  #header-enroll p:nth-child(2) {
    float: right;
    color: #333;
    font: 12px/32px ""; }
    #header-enroll p:nth-child(2) a {
      color: #CA141D;
      text-decoration: underline; }

#main-enroll {
  height: 1082px;
  background: #fff;
  padding: 42px 97px;
  width: 796px; }
  #main-enroll h3 {
    font: 26px/48px "黑体";
    color: #000; }
  #main-enroll p {
    font: 12px/36px "";
    color: #999;
    padding-bottom: 20px; }
  #main-enroll h4 {
    padding-top: 32px;
    border-top: 1px solid #eaeaea;
    color: #333;
    font: 12px/34px "宋体"; }
  #main-enroll div {
    margin: 29px 0; }
    #main-enroll div b {
      font: 12px/36px "";
      color: #999; }
    #main-enroll div .enroll-span {
      margin-left: 10px; }
    #main-enroll div .span-strength {
      padding: 0 20px;
      background: #999999;
      margin-right: 5px; }
  #main-enroll input {
    width: 160px;
    height: 34px; }
  #main-enroll .enroll-inp1 {
    margin-left: 10px; }
  #main-enroll .enroll-inp2 {
    margin-left: 90px; }
  #main-enroll .enroll-inp3 {
    margin-left: 105px; }
  #main-enroll .enroll-inp4 {
    margin-left: 80px; }
  #main-enroll select {
    width: 162px;
    height: 36px;
    margin-left: 90px; }
  #main-enroll h5 {
    font: 700 16px/38px "";
    padding-top: 32px;
    color: #333;
    border-top: 1px solid #eaeaea;
    color: #333; }
  #main-enroll .noBorder {
    border: none;
    padding: 0; }
  #main-enroll .yesBorder {
    border-top: 1px solid #eaeaea;
    padding-top: 32px; }
    #main-enroll .yesBorder p {
      font: 12px/24px "";
      color: #000;
      padding-bottom: 0; }
      #main-enroll .yesBorder p a {
        color: #00c0f4;
        text-decoration: underline; }

#inpEnroll {
  width: 278px;
  height: 44px;
  background: #CA141D;
  margin: 38px 356px;
  color: #fff; }

#enroll-footer {
  text-align: center;
  padding-top: 30px;
  height: 108px;
  border-top: 1px solid #d7d7d7;
  background: #f1f1f1; }
  #enroll-footer p {
    font: 12px/24px "";
    color: #999; }
  #enroll-footer p:first-child a {
    color: #999;
    margin-right: 30px; }
  #enroll-footer p:first-child a:hover {
    text-decoration: underline; }

#goodlist-nav {
  height: 42px;
  background: #990000; }
  #goodlist-nav ul {
    position: relative; }
    #goodlist-nav ul .goodlist-nav-li {
      float: left;
      border-left: 1px solid #aa3030;
      width: 148px;
      text-align: center; }
      #goodlist-nav ul .goodlist-nav-li a {
        font: 16px/42px "";
        color: #fff; }
      #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide {
        height: 330px;
        position: absolute;
        display: none;
        border-bottom: 1px solid #eaeaea;
        background: #fff;
        width: 1200px;
        left: 0px;
        z-index: 1000; }
        #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide p {
          font: 12px/70px "";
          padding-left: 47px;
          border-bottom: 1px solid #eaeaea;
          text-align: left; }
          #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide p a {
            color: #333;
            margin: 0 16px; }
          #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide p a:hover {
            color: #990000; }
          #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide p a:first-child {
            margin: 0; }
        #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide ol li {
          text-align: center;
          float: left;
          width: 171px;
          border: none; }
          #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide ol li img {
            margin-top: 24px;
            margin-bottom: 24px; }
          #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide ol li h3 {
            color: #333;
            font: 12px/24px ""; }
            #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide ol li h3 span {
              color: #990000; }
        #goodlist-nav ul .goodlist-nav-li .goodlist-nav-hide ol li:hover h3 {
          color: #990000; }
  #goodlist-nav .goodlist-nav-li:first-child {
    width: 300px; }
    #goodlist-nav .goodlist-nav-li:first-child img {
      margin-top: 6px; }
  #goodlist-nav .goodlist-nav-li:first-child:hover {
    background: #990000; }
  #goodlist-nav .goodlist-nav-li:last-child {
    border-right: 1px solid #aa3030; }
  #goodlist-nav .goodlist-nav-li:hover {
    background: #7b0000; }

#goodlist-main h3 {
  font: 12px/40px "";
  color: #333; }
  #goodlist-main h3 a {
    margin-right: 10px; }

#goodlist-main p {
  font: 12px/50px "";
  padding-left: 47px;
  border: 1px solid #eaeaea; }
  #goodlist-main p a {
    margin-right: 20px;
    color: #999; }
  #goodlist-main p a:hover {
    color: #666; }
  #goodlist-main p a:first-child {
    color: #990000; }
  #goodlist-main p a:first-child:hover {
    color: #990000; }

#goodlist-main .goodlist-main-p {
  border-top: none;
  margin-bottom: 20px; }

#goodlist-main ul {
  padding-bottom: 78px; }
  #goodlist-main ul li {
    float: left;
    width: 222px;
    text-align: center;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    margin-right: 20px; }
    #goodlist-main ul li img {
      width: 160px;
      height: 180px;
      margin: 35px 0 25px;
      transition: .5s; }
    #goodlist-main ul li h3 {
      font: 12px/16px "";
      color: #666;
      width: 170px;
      margin: 0 auto;
      margin-bottom: 25px; }
    #goodlist-main ul li span {
      color: #990000;
      font: 12px/16px ""; }
    #goodlist-main ul li p {
      border-top: 1px solid #eaeaea;
      padding: 0;
      margin-top: 10px; }
      #goodlist-main ul li p span {
        display: block;
        text-align: center;
        float: left;
        font: 12px/30px "";
        width: 109px; }
      #goodlist-main ul li p span:first-child {
        color: #990000;
        border-right: 1px solid #eaeaea; }
      #goodlist-main ul li p span:last-child {
        color: #666; }
  #goodlist-main ul li:hover {
    border: 1px solid #990000; }
    #goodlist-main ul li:hover img {
      transform: scale(1.1, 1.1); }
  #goodlist-main ul li:nth-child(5) {
    margin-right: 0; }
