body{background: #f5f5f5;}
.margin{width:1200px;margin:0 auto;}

#top{border-bottom:1px solid #eaeaea;font:12px/30px "";height:30px;}
#top .top-l{float:left;position: relative;}
#top .top-l .hide{position: absolute;left: 139px;top:30px;background: #fff ;color:#3a3a3a;width:87px;border: 1px solid #eaeaea;display:none;border-top: none;}
#top .top-l .hide p{padding-left:5px ;}
#top .top-l .hide p a{color:#3a3a3a;}
#top .top-l .hide p a:hover{color:#ca141d;}
#top ul li{float:left;}
#top .top-l a{color:#a4a4a4;padding:0px 8px 0px 8px;}
#top .top-l .te1 {width:87px;}
#top .top-l .te1 .a1{padding-right:30px;border-left: 1px solid #c8c8c8;border-right: 1px solid #c8c8c8;background: url(../img/t1.jpg) no-repeat 70px 5px ;}
#top .top-l .te1:hover{background:#fff;}
#top .top-l .te1:hover .a1{background:#fff url(../img/t5.jpg) no-repeat 70px 5px;border-left: 1px solid #fff;border-right: 1px solid #fff;color:#3a3a3a;}
#top .top-l .te1:hover .a1:hover{color:#ca141d;}
#top .top-l .te1:hover .hide{display: block;}
#top .top-l a:hover{color:#ca141d;}
#top .top-l span{color:#c8c8c8;}
#top .top-r{float:right;position: relative;}
#top .top-r dt{float:left;position: relative;padding-left: 10px;}
#top .top-r dt .a2{border-right:1px solid #eaeaea;padding:0 30px 0 0px ;background: url(../img/t1.jpg) no-repeat 50px 5px ;}
#top .top-r dt ul{position: absolute;left: -143px;top:30px;border:1px solid #eaeaea;z-index: 100;background: #fff;display: none;border-top: none;}
#top .top-r dt ul li{width: 195px;border-bottom:1px solid #eaeaea;padding: 16px 0 14px 15px;}
#top .top-r dt ul li img {float: left;}
#top .top-r dt ul li b{float: left;font:12px/22px "";margin-left:10px ;color: #3a3a3a;}
#top .top-r dt ul li b a{color: #3a3a3a;}
#top .top-r dt:hover{background:#fff;border-left:1px solid #eaeaea ;border-right:1px solid #eaeaea ;}
#top .top-r dt:hover ul{display: block;}
#top .top-r dt:hover .a2{background:url(../img/t5.jpg) no-repeat 50px 5px;border-left: none;color:#3a3a3a;}
#top .top-r dt:hover .a2:hover{color:#ca141d;}
#top .top-r dd{float:left;}
#top .top-r dd .hide{position: absolute;left: 76px;top:30px;background: #fff ;color:#3a3a3a;width:87px;border: 1px solid #eaeaea;display:none;border-top: none;}
#top .top-r dd .hide p{padding-left:5px ;}
#top .top-r dd .hide p a{color:#3a3a3a;}
#top .top-r dd .hide p a:hover{color:#ca141d;}
#top .top-r a{color:#a4a4a4;}
#top .top-r dd .a1{padding:0 30px 0 5px ;background: url(../img/t1.jpg) no-repeat 70px 5px ;}
#top .top-r dd:hover{background:#fff;border-left:1px solid #eaeaea ;border-right:1px solid #eaeaea ;}
#top .top-r dd:hover .a1{background:#fff url(../img/t5.jpg) no-repeat 70px 5px;border-left: 1px solid #fff;color:#3a3a3a;}
#top .top-r dd:hover .a1:hover{color:#ca141d;}
#top .top-r dd:hover .hide{display: block;}
#top .top-r a:hover{color:#ca141d;}
#top .top-r a img{margin-left:2px;}
#top .top-r span{color:#c8c8c8;}

header{height: 70px;border: 1px solid #eaeaea;}
header .header-l{float: left;padding: 20px;}
header .header-r{float: right;width:652px;margin-top: 20px;}
header .header-r .header-r-l{float: left;width:470px;margin-right: 20px;}
header .header-r .header-r-l .txt{float:left;height:30px;width:430px;border: 1px solid #eaeaea;padding-left:5px;}
header .header-r .header-r-l .btn{float:left;background:#fff url(../img/t2.jpg) no-repeat 6px 7px;border: 1px solid #eaeaea;width: 32px;height: 32px;display: block;}
header .header-r .header-r-l .btn:hover{background: url(../img/t4.jpg) no-repeat;}
header .header-r .header-r-c{float: left;margin-right: 20px;position: relative;}
header .header-r .header-r-c .shopCar{border:1px solid #eaeaea;display: block;width:32px;height:30px;background: #fff;text-align: center;}
header .header-r .header-r-c .shopCar img{margin-top:8px ;}
header .header-r .header-r-c .shopCar p{width:22px;height:22px;font: 10px/22px "";background: #CA141D;border-radius: 50%;color:#fff;position:absolute;left: 23px;top:-10px;}
header .header-r .header-r-r{float: left;background: #fff;font: 12px/30px "";padding: 0px 4px;border:1px solid #eaeaea;}
header .header-r .header-r-r{}
header .header-r .header-r-r a{color:#333;}
header .header-r .header-r-r a:hover{color:#CA141D;}
header .header-r .header-r-r .register-l{margin:0 0 0 12px;}
header .header-r .header-r-r .register-r{margin:0 12px 0 0 ;}

nav{background: #fff;}
nav span{font:18px/42px "";color:#000;padding: 12px 153px 12px 16px;border-left:1px solid #eaeaea;border-right:1px solid #eaeaea;}
nav b a{margin-left:50px ;color: #3a3a3a;padding-bottom:2px ;}
nav b a:hover{border-bottom: 3px solid #CA141D;}

#banner{position: relative;}
#banner #slideshow{position: relative;width:1343px;height: 450px;}
#banner .ulId{position:absolute;left:73px;top :0;z-index: 100;background: rgba(0,0,0,.5);width: 240px;}
#banner .ulId li .hideC{position:absolute;left:240px;top :0;width: 648px;height: 450px;background: #fff;display: none;z-index: -3;}
#banner .ulId li .hideC h3{border-bottom: 1px solid #eaeaea;padding: 23px 30px 50px;}
#banner .ulId li .hideC h3 a{display: block;font: 12px/24px "";color:#ca151d;}
#banner .ulId li .hideC h3 a span{float: left;}
#banner .ulId li .hideC h3 a b{float: right;}
#banner .ulId li .hideC .pClass{padding:15px 30px;border-bottom: 1px solid #eaeaea;height:117px;}
#banner .ulId li .hideC .pClass a{color:#3a3a3a;margin:0 30px 0 0 ;font: 12px/50px "";}
#banner .ulId li .hideC .pClass a:hover{color:#ca151d;}
#banner .ulId li .hideC ol{position: relative;}
#banner .ulId li .hideC ol li{float: left;width: 160px;padding: 0;border: 1px solid #eaeaea;text-align: center;position: absolute;}
#banner .ulId li .hideC ol li:nth-child(2){left:161px;}
#banner .ulId li .hideC ol li:nth-child(3){left:322px;}
#banner .ulId li .hideC ol li:nth-child(4){left:484px;}
#banner .ulId li .hideC ol li:hover{top: -2px;background-color: #fff;border-top: none;box-shadow:0px 2px 2px #000;}
#banner .ulId li .hideC ol li img{margin-top: 13px;}
#banner .ulId li .hideC ol li h4{color: #3a3a3a;font: 12px/24px "";margin-top: 24px;}
#banner .ulId li .hideC .teH{margin-top: 0px;}
#banner .ulId li .hideC ol li span{color: red;font: 12px/24px "";margin-bottom: 24px;}
#banner .ulId li{padding:10px 10px 15px 15px;}
#banner .ulId li:hover{background: rgba(0,0,0,.8);}
#banner .ulId li:hover .hideC{display:block;}
#banner .ulId li:hover p a{color: #ccc;}
#banner .ulId li:hover p a:hover{color: #fff;}
#banner .ulId li:last-child{margin-bottom: 0;}
#banner .ulId h3 a{font:14px/24px "";color: #fff;}
#banner .ulId p{position: relative;}
#banner .ulId p a{font:12px/26px "";color: #999;}
#banner .ulId p .teA{position:absolute;right: 0;}

#serve .margin{background: #fff;height: 97px;}
#serve .serve-l{float: left;width: 268px;padding-top: 18px;padding-left: 20px;}
#serve .serve-l img{width: 63px;float: left;}
#serve .serve-l .serve-l-r{padding-top:2px ;margin-left:20px ;float: left;border-right: 1px solid #eaeaea;padding-right:24px ;}
#serve .serve-l .serve-l-r p{font:12px/16px "";color: #a4a4a4;}
#serve .serve-l .serve-l-r p span{margin-left: 20px;}
#serve .serve-l .serve-l-r p a{color: #3a3a3a;text-decoration: underline;}
#serve .serve-l .serve-l-r p a.teA1{padding: 4px;border: 1px solid #ca141d;text-decoration:none;color: #ca141d;margin: 8px 13px 0 0;font: 12px/38px "";}
#serve .serve-l .serve-l-r p a.teA1:hover{background:#ca141d ;color:#fff;}
#serve .serve-c{float: left;width: 582px;padding-left:20px ;}
#serve .serve-c li{float:left;text-align: center;margin-right: 50px;padding-top:26px ;}
#serve .serve-c li.liWu{margin-right: 0;}
#serve .serve-c li a{display: block;color: #3a3a3a;}
#serve .serve-c li a:hover{color: #ca141d;}
#serve .serve-r{float: left;border-left: 1px solid #eaeaea;font: 12px/48px "";}
#serve .serve-r p{border-top:1px solid #eaeaea;padding-right: 20px;}
#serve .serve-r p a.a0{margin-right:35px;}
#serve .serve-r p a.a01{margin-left:15px;}
#serve .serve-r h3{padding-left:15px ;position: relative;overflow: hidden;}
#serve .serve-r h3 img{float:left;padding: 20px 0px;}
#serve .serve-r h3 ul{position:absolute;top:0px;left:45px;float: left;margin-left: 20px;height:48px;}
#serve .serve-r h3 ul li a{font-size: 12px;color: #333;}
#serve .serve-r h3 ul li a:hover{color: #ca141d;}

#listTu{margin-top:14px ;}
#listTu img{margin-right:12px;float:left;}
#listTu img:last-child{margin-right:0px ;}

#main .hot{padding-top:18px;}
#main .hot h3 {font:22px/50px "";color: #3a3a3a;}
#main .hot div .a11{float: left;}
#main .hot div ul {float: right;width: 960px;position: relative;}
#main .hot div ul li{float: left;position: relative;text-align: center;margin-left: 8px;background: #fff;width:232px ;margin-bottom:10px ;padding-bottom: 12px;position: absolute;}
#main .hot div ul li:nth-child(1){left:0;top:0;}
#main .hot div ul li:nth-child(2){}
#main .hot div ul li:nth-child(3){}
#main .hot div ul li:nth-child(4){}
#main .hot div ul li:nth-child(5){}
#main .hot div ul li:nth-child(6){}
#main .hot div ul li:nth-child(7){}
#main .hot div ul li:nth-child(8){}

#main .hot div ul li img {width:130px ;margin-top: 35px;margin-bottom: 35px;}
#main .hot div ul li img.baokuan {width:60px ;position: absolute;left: 140px;top:100px;}
#main .hot div ul li h4{font: 12px/24px "";color: #3a3a3a;}
#main .hot div ul li p{font: 12px/18px "";color: #a4a4a4;}
#main .hot div ul li b{font: 12px/36px "";color: #CA141D;}
